.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-body {
  display: flex;
  flex: 1;
}

.content-area {
  flex: 1;
  padding: 24px;
  background-color: var(--color-bg-app);
  overflow-y: auto;
}
